@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
/* global.css */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2c3E91; /* gray-400 */
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2c3E91; /* gray-500 */
}
