@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-cream text-primary font-sans antialiased;
}

/* .login,
.signup,
.welcome {
  height: 100%;
  overflow: hidden;
} */

/* html body {
  height: 100%;
  overflow: hidden;
} */